.menu-button{
    display: inline;
    position: absolute;
}

.menu-container{
    position: absolute;
    overflow: hidden;
}

.menu-links{
    display: none;
    visibility: hidden;
    position: absolute;
    min-width: 130px;
}

