.menu-button{
    display: inline;
    position: absolute;
    right: 15px;
   /*TRANSITION HERE*/
}

.menu-container{
    position: absolute;
}

.menu-links{
    display: none;
    position: absolute;
    min-width: 130px;
    top: 43px;
    right: 0;
    background-color: #1f3952;
}

