.nav-bar {
    display: flex;
    align-items: center;
    position:relative;
    gap: 1rem;
    padding: 0.5rem 0;
    background-color: #1f3952;
}

@media (max-width: 650px){
    .contact-form{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 75%;
        margin-left: -50px; 
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .nav-bar{
        gap: 0 rem;
        padding-right: 10px;
        max-width: 100%;
    }
}

nav h1 {
    display: inline;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
    font: #ffffff;
}

nav h1 a:hover{
    color:blueviolet
}

nav a, navNavLink {
    color: #ffffff;
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav a:hover{
    color: #d9d3ff;
}

nav a.active{
    color: #e1eefaf0;
}

@media (max-width: 500px) {
    .nav-burger{
    visibility: collapse;  
    position: relative;
    }
    .nav-burger a{
        color: rgb(252, 247, 247);
    }
    nav a:hover{
        color:#d7d1ff;
    }
    nav a.active{
    color: #91c8ff6c;
    }
}

.burger-section{ /*hides hamburger menu from default view*/
    visibility: hidden;
    margin-left: auto;
}

@media (max-width: 500px) {
    .burger-section{
        visibility:visible;
        position: fixed;
        margin-top: 20px;
        margin-right: 15px;
        top: 0;
        right: 0;
        z-index: 2;
        object-fit: fill;
        background-color: #1f3952;
        box-shadow: #aeaeae;
    }
}